# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
OpenWIGLibrary/local.properties
gradle.properties
gradle
gradlew
gradlew.bat
.idea
local.properties